.music-row,
.music-row-active {
  background-color: white;
  transition: 0.25s;
  width: 100%;
  box-sizing: border-box;
  color: #2d2d2d;
  /* animation-name: slideIn; */
  animation-direction: alternate;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: initial;
  animation-fill-mode: backwards;
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
}
.music-row-active {
  background-color: rgba(192, 192, 192, 0.4);
}
.music-row:active {
  opacity: 0.45;
}
.music-row:hover {
  background-color: silver;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
.music-info {
  flex: auto;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.drag-icon {
  width: 24px;
  height: 24px;
  cursor: grab;
  flex-shrink: 0;
}
.music-info,
.drag-icon {
  margin: auto 4px;
}
