.player-wrap {
  width: 206px;
  height: 205px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(2);
  color: silver;
}
#cover-wrap {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
}
#cover-wrap-active {
  height: 100%;
  width: 100%;
  animation-name: spin;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
  cursor: pointer;
}
#cover-ring {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: block;
  background-position: -140px -580px;
  background-image: url(./assets/coverall.png);
}
#cover-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.67);
  height: 100%;
  width: 100%;
  display: block;
  background-image: url(./assets/default_album.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#list-wrap {
  position: absolute;
  top: 0;
  right: 0;
  height: 95vh;
  padding: 16px 0;
  box-shadow: 2px 2px 15px -5px silver;
  overflow-x: hidden;
  overflow-y: auto;
}
#uploader {
  width: fit-content;
  padding: 4px 16px;
  border-radius: 16px;
  box-shadow: 2px 2px 10px -4px silver;
  color: silver;
  position: fixed;
  left: 80vw;
  top: 2vh;
  transform: translateX(-50%);
  height: fit-content;
  transition: 0.25s;
}
#uploader:hover {
  color: #2d2d2d;
  cursor: pointer;
  box-shadow: 2px 2px 10px -2px silver;
}
#uploader:active {
  box-shadow: 2px 2px 10px -4px silver;
  color: silver;
}
